:root {
  --team-background-color: #f5f4fa;
  --primory-title-color: #212121;
  --nav-text-color: #212121;
  --button-text-color: #212121;
  --secondary-title-color: #ffffff;
  --accent-button-text-color: #ffffff;
  --address-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --all-text-color: #757575;
  --secondary-logo-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-form-color: rgba(255, 255, 255, 0.6);
  --header-contact-color: #757575;
  --feature-bc-icons: #f5f4fa;
  --icon-primory-color: #afb1b8;
  --icon-secondary-color: #ffffff;
  --product-border-color: #eeeeee;
  --product-description-color: #ffffff;
  --accent-color: #2196f3;
  --light-accent-secondary: rgba(255, 255, 255, 0.8);
  --light-accent: rgba(33, 150, 243, 0.8);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  /* animation */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primory-title-color);
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------ header ------------------------*/
.header {
  border-bottom: 1px solid #ececec;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-logo-color);
  transition: color var(--duration) var(--timing-function);
}

.header-logo:hover,
.header-logo:focus {
  color: rgba(0, 0, 0, 0.7);
}

.header-logo-blue {
  color: var(--accent-color);
  transition: color var(--duration) var(--timing-function);
}

.header-logo:hover .header-logo-blue,
.header-logo:focus .header-logo-blue {
  color: var(--light-accent);
}

.container-nav {
  display: flex;
  align-items: center;
}

.header-list-nav {
  display: flex;
}

.header-item-nav:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-text-color);

  transition: color var(--duration) var(--timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  margin-bottom: -2px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-list-contact {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.header-item-contact {
  margin-right: 50px;
}

.header-item-contact:last-child {
  margin-right: 0;
}

.header-link-contact {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);

  transition: color var(--duration) var(--timing-function);
}

.header-link-contact:hover,
.header-link-contact:focus {
  color: var(--accent-color);
}

.icon-email,
.icon-tel {
  fill: currentColor;
  margin-right: 10px;
}
/* ------------------------ hero ------------------------*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
}

.hero-container {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 669px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--light-accent);
  color: var(--light-accent-secondary);
}

/* ------------------------ feature ------------------------*/

.feature {
  padding-top: 94px;
}

.feature-content {
  display: flex;
}

.feature-item {
  width: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-icons {
  margin-bottom: 30px;
  height: 120px;

  border-radius: 4px;
  background-color: var(--feature-bc-icons);
}

.feature-item-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--all-text-color);
}

/* ------------------------ company ------------------------*/
.company-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.company-list {
  display: flex;
}

.company-item:not(:last-child) {
  margin-right: 30px;
}

.company-position {
  position: relative;
  width: 100%;
  height: 294px;
}

.company-label {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.company-label-text {
  width: 100%;
  height: 100%;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

/* ------------------------ team ------------------------*/
.team {
  background-color: var(--team-background-color);
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-item {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--all-text-color);
}

.team-list-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-item-icons {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-item-icons:last-child {
  margin-right: 0;
}

.team-link-icons {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  fill: var(--icon-primory-color);

  transition: background-color var(--duration) var(--timing-function), fill var(--duration) var(--timing-function);
}

.team-link-icons:hover,
.team-link-icons:focus {
  background-color: var(--accent-color);
  fill: var(--icon-secondary-color);
}

/* ------------------------ clients ------------------------*/
.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primory-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  width: 100%;
  height: 100%;

  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: var(--icon-primory-color);

  transition: border-color var(--duration) var(--timing-function), fill var(--duration) var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* ------------------------ footer ------------------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  max-width: 376px;
  min-height: 112px;
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  transition: color var(--duration) var(--timing-function);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--light-accent-secondary);
}

.footer-logo-blue {
  color: var(--accent-color);
  transition: color var(--duration) var(--timing-function);
}

.footer-logo:hover .footer-logo-blue,
.footer-logo:focus .footer-logo-blue {
  color: var(--light-accent);
}

.footer-address {
  margin-bottom: 9px;
}

.footer-link-address {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-text-color);
  transition: color var(--duration) var(--timing-function);
}

.footer-link-address:hover {
  color: var(--light-accent-secondary);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contact-color);

  transition: color var(--duration) var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-slogan {
  margin-right: 93px;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.footer-list-icons {
  display: flex;
}

.footer-item-icons {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-item-icons:last-child {
  margin-right: 0;
}

.footer-link-icons {
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--icon-secondary-color);
  border-radius: 50%;

  transition: background-color var(--duration) var(--timing-function);
}

.footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* ------------------ form-slogan---------------- */

.footer-form-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.footer-form-content {
  display: flex;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  background-color: transparent;
  color: var(--footer-form-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--duration) var(--timing-function);
}

.footer-form-input:focus {
  border-color: var(--accent-color);
}

.footer-form-button {
  display: flex;
  align-items: center;
  padding: 0 0 0 29px;
  margin-left: 12px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--accent-button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;

  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--light-accent);
  color: var(--light-accent-secondary);
}

.plane-icon {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 28px;

  fill: var(--icon-secondary-color);
  transition: fill var(--duration) var(--timing-function);
}

.footer-form-button:hover .plane-icon,
.footer-form-button:focus .plane-icon {
  fill: var(--light-accent-secondary);
}

/* ---------------------- portfolio ----------------------*/
.portfolio-list-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  padding: 6px 22px;

  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--accent-button-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------------------- product -----------------------*/
.product-list {
  display: flex;
  flex-flow: wrap;
  margin: -15px;
}

.product-item {
  width: 370px;
  margin: 15px;
}

.product-link {
  display: block;
  width: 100%;
  height: 100%;

  transition: box-shadow var(--duration) var(--timing-function);
}

.product-link:hover,
.product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-img {
  display: block;
}

.product-arise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(102%);
  transition: transform var(--duration) var(--timing-function);
}

.product-link:hover .product-arise,
.product-link:focus .product-arise {
  transform: translateY(0);
}

.product-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  min-height: 168px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--product-description-color);
}

.product-content {
  padding: 20px 24px;
  border-right: 1px solid var(--product-border-color);
  border-bottom: 1px solid var(--product-border-color);
  border-left: 1px solid var(--product-border-color);
}

.product-title-item {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primory-title-color);
}

.product-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--all-text-color);
}

/* ---------------------- modal window ----------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--duration) var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--timing-function);
  border-radius: 4px;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  transition: fill var(--duration) var(--timing-function);
}

.modal-close:hover {
  fill: var(--accent-color);
}

/* ----------------- modal-form ------------------- */

.modal-form {
  padding: 40px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primory-title-color);
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--all-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--all-text-color);

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--duration) var(--timing-function);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill var(--duration) var(--timing-function);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.feedback-box {
  margin-bottom: 20px;
}

.field-feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--all-text-color);

  outline: transparent;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.field-feedback:focus {
  border-color: var(--accent-color);
}

.field-feedback::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.label-policy {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--all-text-color);
}

.policy-thumb {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.icon-policy {
  position: relative;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;

  transition: background-color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function);
}

.checkbox-policy {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-policy:focus + .icon-policy {
  outline: 1px solid #212121;
}

.checkbox-policy:checked + .icon-policy {
  background-image: url("../imges/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  outline: transparent;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.link-policy {
  transition: color var(--duration) var(--timing-function);
  color: var(--accent-color);
}

.link-policy:hover,
.link-policy:focus {
  color: var(--light-accent);
}

.modal-button {
  width: 200px;
  height: 50px;
  margin: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--accent-button-text-color);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--light-accent);
}
